h1 {
    color: chartreuse;
    font-style: initial;
    text-align: center;
    font-family: serif;
}
a {
    color: lawngreen;
}
ul {
    background-color: lightcoral;
}
li {
    font-family: cursive;
}
p {
    color: blanchedalmond;
}